.kinal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px 0;
}

.kinal-card {
    background: white;
    padding: 40px;
    border-radius: 8px;
    border-bottom: 5px solid var(--color-primary);
    box-shadow: var(--shadow-soft);
    transition: 0.3s;
}

.kinal-card:hover {
    transform: translateY(-10px);
}

.kinal-card h3 {
    color: var(--color-primary);
    margin-bottom: 15px;
}