:root {
    --primary-blue: #2744AB;
    --secondary-orange: #F6901F;
    --accent-red: #E5000E;
    --dark-black: #0D0D0D;
    --light-gray: #f4f4f4;
    --white: #ffffff;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}