:root {
    /* Nueva Paleta Tetrádica */
    --color-primary: #283D85;    /* Azul Kinal Base */
    --color-accent-1: #856B28;   /* Ocre/Dorado */
    --color-accent-2: #852841;   /* Vino/Borgonia */
    --color-secondary: #8A9CDA;  /* Azul Claro */
    --color-success: #288534;    /* Verde */
    
    --color-dark: #1a1a1a;
    --color-white: #ffffff;
    --color-bg: #fdfdfd;
    
    --shadow-soft: 0 4px 20px rgba(0,0,0,0.08);
    --shadow-strong: 0 10px 30px rgba(40, 61, 133, 0.2);
}
